<div class="jumbotron2">
  <div class="display-4">
    ¿Qué asignatura quieres buscar?
  </div>
  <div class="p-4"></div>
</div>
<%= link_to root_path do %>
 
  <div class="form-inline my-2 ">
    <%= form_tag(asignaturas_path, method: :get) do %>
      <div class="input-group">
        <%= text_field_tag :title, params[:nombre], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm' %>
        <span class="input-group-append">
          <button class="btn btn-primary btn-sm" type="submit">
            <span aria-hidden="true" class="fa fa-search"></span>
          </button>
        </span>
      </div>
    <% end %>
  </div>
<% end %>

<div class="card-group">
  <div class="card card-body">
    <h1>
      <div class="fa fa-graduation-cap"></div>
    </h1>
    <%= Universidad.count %>
    Universidades registradas
    <div class="row"></div>
    Encuentra tu grado
  </div>
  <div class="card card-body">
    <h1>
      <div class="fa fa-chalkboard-teacher"></div>
      <!--.fa.fa-brain
      -->
    </h1>
    <%= Grado.count %>
    Grados registrados
    <div class="row"></div>
    Encuentra tu grado
  </div>
  <div class="card card-body">
    <h1>
      <div class="fa fa-user-graduate"></div>
    </h1>
    <%= Asignatura.count %>
    Asignaturas en nuestra base de datos
    <div class="row"></div>
    Join the knowledge sharing community
  </div>
  <div class="card card-body">
    <h1>
      <div class="fa fa-infinity"></div>
    </h1>
    Lifetime access
    <div class="row"></div>
    Learn on your schedule
  </div>
</div>
<hr/>


