<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @asignatura.nombre %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @asignatura.tipo %>
</p>

<p>
  <strong>Creditos:</strong>
  <%= @asignatura.creditos %>
</p>

<p>
  <strong>Grado:</strong>
  <%= @asignatura.grado_id %>
</p>

<%= link_to 'Edit', edit_asignatura_path(@asignatura) %> |
<%= link_to 'Back', asignaturas_path %>
