<p id="notice"><%= notice %></p>

<h1>Grados</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Url</th>
      <th>Universidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grados.each do |grado| %>
      <tr>
        <td><%= grado.nombre %></td>
        <td><%= grado.url %></td>
        <td><%= grado.universidad_id %></td>
        <td><%= link_to 'Show', grado %></td>
        <td><%= link_to 'Edit', edit_grado_path(grado) %></td>
        <td><%= link_to 'Destroy', grado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grado', new_grado_path %>
